body{
    background-color: black;
    color: white;
}
.icons{
    max-width: 23px;
}
.invert{
    filter: invert(1);
}

.gray-text{
    color: gray;
}

.bg-gray{
    background-color: #121212;
    border-radius: 8px;
}

